services:
  debt-tracker:
    build: .
    container_name: debt-tracker
    restart: unless-stopped
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - NODE_ENV=${NODE_ENV}
    networks:
      - ezra-home
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.debtTracker.rule=Host(`debt-tracker.ezra-home.me`)"
      - "traefik.http.routers.debtTracker.entrypoints=websecure"
      - "traefik.http.routers.debtTracker.tls=true"
      - "traefik.http.routers.debtTracker.service=debt-tracker-service"
      - "traefik.http.services.debt-tracker-service.loadbalancer.server.port=8500"

      # HTTP router with redirect
      - "traefik.http.routers.debtTracker-http.rule=Host(`debt-tracker.ezra-home.me`)"
      - "traefik.http.routers.debtTracker-http.entrypoints=web"
      - "traefik.http.routers.debtTracker-http.middlewares=redirect-to-https"

networks:
  ezra-home:
    external: true
